@font-face {
    font-family: "DigitalDisplay";
    src: url('../fonts/digital_display_tfb/digital_display_tfb.ttf') format('truetype');
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

#triaxis_wrapper {
    text-align: center;
}

#download {
    margin-bottom: 20px;
}

#triaxis {
    width: 1270px;
    height: 122px;
    background-image: url("../img/triaxis_base.jpg");
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
}


.component:hover {
    cursor: pointer;
}

.component {
    border: 1px solid #fff;
    position: absolute;
    font-family: "DigitalDisplay", monospace;
    font-size: 3.5em;
    color: red;
    text-align: right;
    width: 58px;
    height: 42px;
    top: 16px;
}

.lcd {
    position: relative;
    top: -15px;
    right: 5px;
}

#preset {
    left: 70px;
}

#program {
    left: 150px;
    width: 90px;
    color: greenyellow;
}

#gain {
    left: 260px;
}
#treble {
    left: 340px;
}
#middle {
    left: 420px;
}
#bass {
    left: 502px;
}
#lead1Drive {
    left: 584px;
}
#lead2Drive {
    left: 665px;
}
#master {
    left: 746px;
}
#presence {
    left: 827px;
}
#dVoice {
    left: 908px;
}

.tube {
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
}
.tube:hover {
    cursor: pointer;
}

#tube_rhyGreen {
    top: 12px;
    right: 140px;
}
#tube_rhyGreen.selected {
    background-color: greenyellow;
}

#tube_rhyYellow {
    top: 12px;
    right: 126px;
}
#tube_rhyYellow.selected {
    background-color: #ffff00;
}

#tube_lead1Green {
    top: 33px;
    right: 140px;
}
#tube_lead1Green.selected {
    background-color: greenyellow;
}

#tube_lead1Yellow {
    top: 33px;
    right: 126px;
}
#tube_lead1Yellow.selected {
    background-color: #ffff00;
}

#tube_lead1Red {
    top: 33px;
    right: 112px;
}
#tube_lead1Red.selected {
    background-color: red;
}

#tube_lead2Green {
    top: 56px;
    right: 140px;
}
#tube_lead2Green.selected {
    background-color: greenyellow;
}

#tube_lead2Yellow {
    top: 56px;
    right: 126px;
}
#tube_lead2Yellow.selected {
    background-color: #ffff00;
}

#tube_lead2Red {
    top: 56px;
    right: 112px;
}
#tube_lead2Red.selected {
    background-color: red;
}

.switch {
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
}
.switch:hover {
    cursor: pointer;
}
.switch.selected {
    background-color: red;
}

#switch1 {
    top: 78px;
    right: 140px;
}
#switch2 {
    top: 78px;
    right: 126px;
}
#switch3 {
    top: 78px;
    right: 112px;
}
#switch4 {
    top: 78px;
    right: 98px;
}

.fx {
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
}
.fx:hover {
    cursor: pointer;
}
.fx.selected {
    background-color: greenyellow;
}

#fx {
    top: 100px;
    right: 97px;
}

#logo p {
    font-family: 'Cinzel', serif;
    font-size: 4em;
    text-align: center;
}

.dropdown {
    background-color: lightgrey;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    color: #000;
}

.dropdown_value.selected {
    background-color: #fff;
}
.dropdown_value:hover {
    cursor: pointer;
    background-color: #eee;
}

#about {
    margin-top: 20px;
}